body {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin: 0px;
    padding: 0px;
}

div#header {
    padding-top: 3.0em;
    background: #222;
    color: #fff;
    text-align: center;
}

div#sitename {
    font-size: 2.2em;
    font-weight: 400;
}

div#subtext {
    padding-top: 0.8em;
    color: #e0e0e0;
}

div#navbar {
    margin: 0;
    padding: 2.2em 0 0 0;
}

div#navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

div#navbar li {
    text-align: center;
    display: inline-block;
}

div#navbar a {
    text-decoration: none;
    display: inline-block;
    margin: 0;
    width: 10em;
    font-weight: 300;
    color: #fff;
    padding-top: 0.2em;
    font-size: 1.2em;
    transition: 0.8s background-color;
}

div#navbar a:hover {
    background-color: #555;
}

div#navbar a.selected {
    background-color: #fff;
    color: #000;
}


div#quote {
    font-style: italic;
    margin: 0 5em;
