body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
a {
    text-decoration: none;
    color: #0090aa;
    transition: 0.5s color;
}
a:hover {
    color: #003060;
    border-bottom: 1px #111 solid;
}

h1, h2 {
    font-weight: 300;
    font-family: 'Roboto';
}
h2 {
    font-size: 1.4em;
}
h1 {
    font-size: 2em;
    margin: 1em 0;
}

pre {
    background-color: #f7f7f7;
    padding: 1em;
    overflow: scroll;
}
@media handheld {
    pre {
        word-wrap: break-word;
    }
}
div#header, div#footer, button {
    background: #444;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 300;
    text-align: center;
    border : 0;
}

button {
    padding: 0.6em;
    outline: 0;
    cursor: pointer;
    transition: 0.5s background-color;
    font-size: 1em;
}
button:hover {
    background: #588;
}

div#header {
    padding-top: 3em;
}

div#footer {
    padding: 2.5em 0 2em 0;
    font-size: 0.9em;
}
div#footer a {
    color: #60ccff;
}
div#footer a:hover {
    color: #60eeff;
    border-bottom: 1px #fff solid;
}
div#footer a.imglink:hover {
    border-width: 0;
}

div#content {
    margin: 5em 3em;
}

div#content img {
    border: 0;
    max-width: 100%;
}

div#sitename {
    font-size: 2.2em;
    font-weight: 400;
}

div#subtext {
    padding-top: 0.8em;
    color: #e0e0e0;
}

div#navbar {
    margin: 0;
    padding: 3em 0 0 0;
}

div#navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

div#navbar li {
    display: inline-block;
}

div#navbar a {
    display: inline-block;
    margin: 0;
    border: 0;
    width: 10em;
    color: #fff;
    padding: 0.5em 0 0.5em 0;
    font-size: 1.2em;
    transition: 0.8s background-color;
}

/* Responsive navbar, set width of li and the anchor to 30% instead of fixed width,
 * if the screen is too small to contain the fixed width items */
@media all and (max-width: 40em) and (min-width: 250px) {
    div#navbar li {
        width: 30%;
    }
    div#navbar a { width: 100%;
    }
    div#content {
        margin: 5em 2px;
    }
}

/* Responsive navbar, swicth to vertical bar if screen is too small to contain all the items in one line. */
@media all and (max-width: 250px) {
    div#navbar li {
        display: block;
        width:  100%;
    }
    div#navbar a {
        width: 100%;
    }
    div#content {
        margin: 5em 2px;
    }
}

div#navbar a:hover {
    background-color: #588;
}

div#navbar a#selected {
    background-color: #fff;
    color: #000;
}

div#quote {
    font-style: italic;
    margin: 0 5em;
}
